src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="CalculatriceWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8089/?xsd=1"/>
</xsd:schema>
</types>
<message name="Multiplication">
<part name="parameters" element="tns:Multiplication"/>
</message>
<message name="MultiplicationResponse">
<part name="parameters" element="tns:MultiplicationResponse"/>
</message>
<message name="Soustraction">
<part name="parameters" element="tns:Soustraction"/>
</message>
<message name="SoustractionResponse">
<part name="parameters" element="tns:SoustractionResponse"/>
</message>
<message name="Division">
<part name="parameters" element="tns:Division"/>
</message>
<message name="DivisionResponse">
<part name="parameters" element="tns:DivisionResponse"/>
</message>
<message name="somme">
<part name="parameters" element="tns:somme"/>
</message>
<message name="sommeResponse">
<part name="parameters" element="tns:sommeResponse"/>
</message>
<portType name="CalculatriceWS">
<operation name="Multiplication">
<input wsam:Action="http://service/CalculatriceWS/MultiplicationRequest" message="tns:Multiplication"/>
<output wsam:Action="http://service/CalculatriceWS/MultiplicationResponse" message="tns:MultiplicationResponse"/>
</operation>
<operation name="Soustraction">
<input wsam:Action="http://service/CalculatriceWS/SoustractionRequest" message="tns:Soustraction"/>
<output wsam:Action="http://service/CalculatriceWS/SoustractionResponse" message="tns:SoustractionResponse"/>
</operation>
<operation name="Division">
<input wsam:Action="http://service/CalculatriceWS/DivisionRequest" message="tns:Division"/>
<output wsam:Action="http://service/CalculatriceWS/DivisionResponse" message="tns:DivisionResponse"/>
</operation>
<operation name="somme">
<input wsam:Action="http://service/CalculatriceWS/sommeRequest" message="tns:somme"/>
<output wsam:Action="http://service/CalculatriceWS/sommeResponse" message="tns:sommeResponse"/>
</operation>
</portType>
<binding name="CalculatriceWSPortBinding" type="tns:CalculatriceWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="Multiplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Soustraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="somme">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CalculatriceWSService">
<port name="CalculatriceWSPort" binding="tns:CalculatriceWSPortBinding">
<soap:address location="http://localhost:8089/"/>
</port>
</service>
</definitions>